name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Compile
      run: g++ -o stml main.cpp -std=c++17 -pthread

    - name: Run Tests
      # Pipe input '4' because the program expects user input for thread count
      run: echo "4" | ./stml
